body {
font-family: Helvetica Light", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


.sidebar1 {
    background-color: #fff;
    padding: 0px;
    min-height: 100%;
    text-align: center;
    position: fixed;
    z-index: 100;
}

.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    width: 80%;
}
.list {
    color: #333;
    list-style: none;
    padding-left: 0px;
    margin-top: 80px;
    font-size: 120%;
}

.list> li {
    padding: 5px 0px 5px 2px;
}

.main-content{
    text-align: center;
}

.hibi_titile{
    margin: 40px 0;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.h1 {
  border-bottom: 1px solid black;

/*線の種類（実線） 太さ 色*/
}
/*.contents-hibi_pic ul li .contents-hibi-inner{
      border:1px solid  #17693c;
      margin: 0 15px 0;
      padding: 30px;
        }*/


.hibi_pic {
    border: 2px solid ;
     margin: 25px;
    width: 250px;
    height: 250px; 
   
}

a.cp_btn {
display: inline-block;
position: relative;
width: 160px;
padding: 0.8em;
text-align: center;
border-top: 2px solid #FBC02D;
border-bottom: 2px solid #FBC02D;
text-decoration: none;
font-weight: bold;
color: #FBC02D;
}
a.cp_btn:before, a.cp_btn:after {
content: '';
position: absolute;
top: -7px;
width: 2px;
height: calc(100% + 14px);
background-color: #FBC02D;
transition: .3s;
}
a.cp_btn:before {
left: 7px;
}
a.cp_btn:after {
right: 7px;
}
a.cp_btn:hover:before{
top: 0px;
left:0;
height: 100%;
}
a.cp_btn:hover:after{
top: 0px;
right: 0;
height: 100%;
}



@charset "utf-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}







