.sidebar1 {
    background-color: #FFFFFC;
    padding: 0px;
    min-height: 100%;
    text-align: center;
    position: fixed;
    z-index: 100;
}

.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    width: 80%;
}
.list {
    color: #333;
    list-style: none;
    padding-left: 0px;
    margin-top: 80px;
    font-size: 120%;
}

.list> li {
    padding: 10px 0px 10px 0px;
}

.main-content{
text-align:center;

}

.top{
    height: 500px;
    background-image: url(img/hibi.jpg);
    background-size: cover;
    background-position: center center;

}

.concept{
    /*background-color: #f0e68c;*/
}

.mainconcept{
    margin-top: 20px;
    margin-bottom: 20px;
}

.subconcept{
    margin-bottom: 30px
}

.explain{
    background-color: #FFFFFC;
    height: 570px;
}
.explain_pic{
    margin-top: 30px;
    height: 230px;
    width: 90%;
}

.explain_text{
   /* margin-top: 70px;
    margin-left: 20px;
    /*margin-right: auto;*/
    /*margin-left: */
    /*height: 200px;*/
    /*width: 90%;*/
    /*height: 60%;*/
    margin: 30px 0;
    height: 230px;
    vertical-align: middle;
    /*padding: auto;*/
    h
}

.today_hibi{
    /*background-color: #f4a460;*/
    margin-top: 50px;
}
.hibi_pic{
    margin: 25px;
    width: 250px;
    height: 250px; 

}

.topic_hibi{
    /*background-color: #d2691e;*/
    margin-top: 50px;
    margin-bottom: 50px;
}