body {
font-family: Helvetica Light", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}



.sidebar1 {
    background-color: #fff;
    padding: 0px;
    min-height: 100%;
    text-align: center;
    position: fixed;
    z-index: 100;
}

.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    width: 80%;
}
.list {
    color: #333;
    list-style: none;
    padding-left: 0px;
    margin-top: 80px;
    font-size: 120%;
}

.list> li {
    padding: 10px 0px 10px 0px;
}

.main-content{
text-align:center;

}

.top{
    height: 500px;
    background-image: url(../img/hibi.jpg);
    background-size: cover;
    background-position: center center;
    /*background: rgba(255, 255, 255, 0.3);*/
    /*opacity: 2.0;*/

}

.top::before{
    /*透過したくろを重ねるイメージ*/
    background-color: rgba(0,0,0,0.2);
    /*自由に位置を規定*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

.top a{
    position: absolute;
    top: 33%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    /*以下装飾*/
    margin: 0;
    font-size: 20px;
    border: solid white 4px;
    padding: 7px;
    color: white;
    text-decoration: none;
}

.top a:hover{
    background: rgba(255, 255, 255, 0.3);

}

.concept{
    /*background-color: #f0e68c;*/
}

.mainconcept{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainconcept h1{
    font-weight: bold;
}

.subconcept{
    margin-bottom: 30px
}

.explain{
    background-color: #FFFFFC;
    height: 570px;
}
.explain_pic{
    margin-top: 30px;
    height: 230px;
    width: 90%;
}

.explain_text{
   /* margin-top: 70px;
    margin-left: 20px;
    /*margin-right: auto;*/
    /*margin-left: */
    /*height: 200px;*/
    /*width: 90%;*/
    /*height: 60%;*/
    margin: auto;
    height: 150px;
    vertical-align: middle;
    /*padding: auto;*/
    h
}

.today_hibi{
    /*background-color: #f4a460;*/
    margin-top: 50px;
}
.hibi_pic{
    margin: 25px;
    width: 250px;
    height: 250px; 
    display: inline-block;

}

.topic_hibi{
    /*background-color: #d2691e;*/
    margin-top: 50px;
    margin-bottom: 50px;
}
