
body {
font-family: Helvetica Light", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}



.sidebar1 {
    background-color: #fff;
    padding: 0px;
    min-height: 100%;
    text-align: center;
    position: fixed;
    z-index: 100;
}

.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    width: 80%;
}
.list {
    color: #333;
    list-style: none;
    padding-left: 0px;
    margin-top: 80px;
    font-size: 120%;
}

.main-content{
text-align:center;

}

.mypage{
    margin-top: 80px;
}

.mypage-top{
    border-bottom: solid 1px #333;
    padding-bottom: 30px;
}

.mypage-top-pic{
    width: 200px;
    height: 200px;
}

.mypage-top-text{
    margin: auto;
}

.mypage-top-name{
    font-size: 140%;
}

.mypage-top-poem{
    margin-top: 30px;
    font-size: 90%;
}

.mypage-content{
    margin-top: 20px;

}

.mypage-content-pic{
    width: 250px;
    height: 250px;
    /*margin: 30px;*/
}




