body {
font-family: Helvetica Light", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}



.sidebar1 {
    /*background-color: #FFFFFC;*/
    background-color: #fff;

    padding: 0px;
    min-height: 100%;
    text-align: center;
    position: fixed;
    z-index: 100;
}

.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    width: 80%;
}
.list {
    color: #333;
    list-style: none;
    padding-left: 0px;
    margin-top: 80px;
    font-size: 120%;
}

.list> li {
    padding: 5px 0px 5px 2px;
}

.main-content{
    text-align: center;
}

.hibi_titile{
    margin: 40px 0;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.cross_line{
    display: inline-block;
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}
.cross_line:before, .cross_line:after{
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}
.cross_line:before {left: 7px;}
.cross_line:after {right: 7px;}
.cross_line:hover:before{
  top: 0px;
  left:0;
  height: 100%;
}
.cross_line:hover:after{
  top: 0px;
  right: 0;
  height: 100%;
}


.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 3px #333;
    border-bottom: solid 3px #333;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 3px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #333;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    /*margin: 0; */
    /*padding: 0;*/
}

.hibi_setumei{
  display:inline-block; 
  border-bottom: 1px solid #333;
  margin-top: 10px

}

/*ボタンを選択する*/

.uploadButton {
    display:inline-block;
    position:relative;
    overflow:hidden;
    border-radius:3px;
    border: solid 1px #333;
    /*background:#333;*/
    background: #fff;
    color:#333;
    text-align:center;
    padding:10px;
    line-height:30px;
    width:180px;
    cursor:pointer;
    margin-top: 25px;
}
.uploadButton:hover {
    background:#EEEEEE;
}
.uploadButton input[type=file] {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;    
    cursor:pointer;
    opacity:0;
}
.uploadValue {
    display:none;
    background:rgba(255,255,255,0.2);
    border-radius:3px;
    padding:3px;
    /*color:#333;*/
    color: #333;
    font-size: 10px;
}   

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    width: 90%;
    border: solid 1px #333;
    border-radius: 3px;
    margin-top: 40px;
    margin-bottom: 24px;
    outline: 0;
}
.box1 p {
    margin: 0; 
    padding: 0;
}



.hibi_pic_upload{
    margin: 30px 0 0 115px;

}

/*.hibi_text_upload{*/
    /*margin-top: 30px;*/
    /*border: solid 1px #333;*/
    /*outline: none;*/
/*}*/

/*.week_topic{
    margin-top: px;
}
*/

.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    background-color: #333;
    border: solid 1px #333;
    border-radius: 3px;
    transition: .4s;
    margin-top: 40px;
}

.square_btn:hover {
    background: #111;
    color: white;
}

.hibi_delate{
    font-size: 50%;
    color: #333;
}

.btn2{
    margin-top: 20px;
}


.box3{
    border: solid 1px #333;
    margin-top: 40px;
    margin-bottom: 50px;
    /*background-color: #EEE;*/

}

.hibi_poem{
    margin: 30px 0px;
}

.hibi_poem_date{
    display: inline-block;
    border-bottom: solid 1px #333;
}


