privateページ css
body {
font-family: Helvetica Light", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}



.sidebar1 {
    /*background-color: #FFFFFC;*/
    background-color: #fff;

    padding: 0px;
    min-height: 100%;
    text-align: center;
    position: fixed;
    z-index: 100;
}

.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    width: 80%;
}
.list {
    color: #333;
    list-style: none;
    padding-left: 0px;
    margin-top: 80px;
    font-size: 120%;
}

.list> li {
    padding: 5px 0px 5px 2px;
}

.main-content{
    text-align: center;
}

/*ここから卒業生のページ*/
/*シェアボタン*/
.isometric { 
    color: #484848;
    display: inline-block;
    height: 50px;
    font-size: 25px;
    line-height: 46px;
    background: #eaeef1;
    text-decoration: none;
    box-sizing: border-box; 
    margin: 1em;
}
.isometric .iconback{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    vertical-align: middle;
}
.isometric span{
    vertical-align: middle;
}
.isometric .iconback .fa{
    line-height: 46px;
    font-size:25px;
}
.isometric .btnttl{
    display: inline-block;
    width: 120px;
    height: 50px;
    text-align: center;
    border-bottom: solid 4px #dcdcdc;
    vertical-align:middle;
}
.isometric .istw{
    background:#1da1f3;
    border-bottom: solid 4px #1484ca;
}
.isometric .isfb{
    background:#3b75d4;
    border-bottom: solid 4px #2a5caf;
}
.isometric .isfdly{
    background:#7ece46;
    border-bottom: solid 4px #65b130;
}
.isometric .ispkt{
    background:#fd7171;
    border-bottom: solid 4px #ef4d4d;
}
.isometric:hover{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
.isometric:hover .btnttl, .isometric:hover .iconback{
    border-bottom: none;
}


/*以下*/

.graduation-name{
    margin-top: 30px;
    font-size: 280%;
}

.graduation-date{
    font-size: 100%;


}

.team-tyrk{
    font-size: 70%;

}

.graduation-share{
    font-size: 140%;

}

.graduation-yazi{
    margin-top: 30px;
}
/*卒業するページに飛ぶページを設置する*/
.square_btn5{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #333;/*左線*/
    color: #333;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.square_btn5:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

/*ここまで*/

/*ここから在校生のページ*/
.hibi_titile{
    margin: 40px 0;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.cross_line{
    display: inline-block;
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}
.cross_line:before, .cross_line:after{
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}
.cross_line:before {left: 7px;}
.cross_line:after {right: 7px;}
.cross_line:hover:before{
  top: 0px;
  left:0;
  height: 100%;
}
.cross_line:hover:after{
  top: 0px;
  right: 0;
  height: 100%;
}


/*.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 3px #333;
    border-bottom: solid 3px #333;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 3px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #333;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    
}*/

/*マイページに飛ぶボタン*/
.mypage-button{
    margin-top: 0px;
}

.box3 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold 10px;
    border: solid 3px #000000;
}
.box3 p {
    margin: 0; 
    padding: 0;
}



.hibi_setumei{
  display:inline-block; 
  border-bottom: 1px solid #333;
  margin-top: 10px

}

/*ボタンを選択する*/

.uploadButton {
    display:inline-block;
    position:relative;
    overflow:hidden;
    border-radius:3px;
    border: solid 1px #333;
    /*background:#333;*/
    background: #fff;
    color:#333;
    text-align:center;
    padding:10px;
    line-height:30px;
    width:180px;
    cursor:pointer;
    margin-top: 25px;
}
.uploadButton:hover {
    background:#EEEEEE;
}
.uploadButton input[type=file] {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;    
    cursor:pointer;
    opacity:0;
}
.uploadValue {
    display:none;
    background:rgba(255,255,255,0.2);
    border-radius:3px;
    padding:3px;
    /*color:#333;*/
    color: #333;
    font-size: 10px;
}   

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    width: 90%;
    border: solid 1px #333;
    border-radius: 3px;
    margin-top: 40px;
    margin-bottom: 24px;
    outline: 0;
}
.box1 p {
    margin: 0; 
    padding: 0;
}



.hibi_pic_upload{
    margin: 30px 0 0 115px;

}

/*.hibi_text_upload{*/
    /*margin-top: 30px;*/
    /*border: solid 1px #333;*/
    /*outline: none;*/
/*}*/

/*.week_topic{
    margin-top: px;
}
*/

.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    background-color: #545b62;
    border: solid 1px #545b62;
    border-radius: 3px;
    transition: .4s;
    margin-top: 10px;
}

.square_btn:hover {
    background: black;
    color: white;
}

.hibi_delate{
    font-size: 80%;
    color: #333;
}

.btn2{
    margin-top: 20px;
}


.box3{
    border: solid 1px #333;
    margin-top: 40px;
    margin-bottom: 50px;
    /*background-color: #EEE;*/

}



.hibi_poem{
    margin: 30px 0px;
}

.hibi_poem_date{
    display: inline-block;
    border-bottom: solid 1px #333;
}

.square_btn1 {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #333;
    border: solid 1px #333;
    /*border-radius: 3px;*/
    transition: .4s;
}

.square_btn1:hover {
    background: white;
    color: #333;
}

/*ここまで*/